<footer data-aos="fade-right">
     <div class="containerFooter">

          <div class="infoFooter">

               <div class="logo">
                    <img src="./estilos/logoX.png" alt="logo">
                    <p>X</p>
               </div>

               <div class="derechos">
                    <p>Todos los derechos reservados &copy; 2023</p>
               </div>

               <div class="btnFooter">
                    <button><i class="bi bi-flag-fill"></i> Argentina <i
                              class="bi bi-arrow-right iconStyle"></i></button>
               </div>

          </div>

          <hr class="lineaFooter">

          <div class="linksFooter">
               <a href="#">Rastreador de pedidos</a>
               <a href="#">Mapa del sitio</a>
               <a href="#">Contáctenos</a>
               <a href="#">Avisos legales</a>
               <a href="#">Localizador de tiendas</a>
               <a href="#">Política de privacidad</a>
               <a href="#">Sostenibilidad</a>
               <a href="#">Carreras</a>
               <a href="#">Centro de ayuda</a>
               <a href="#">Síganos</a>
          </div>

          <hr class="lineaFooterFinal">

          <div class="derechosFinal">
               <p>Todos los derechos reservados &copy; 2023</p>
          </div>

     </div>
</footer>
<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
      <script>
        AOS.init({
          duration: 800, // Duración de las animaciones en milisegundos
          offset: 200,  // Distancia desde la parte superior de la ventana para activar la animación
        });
      </script>
</body>

</html>