<footer data-aos="fade-down" data-aos-once="true">
     <div class="containerFooter">

          <div class="infoFooter">

               <div class="logo">
                    <img src="" alt="logo">
                    <p>X</p>
               </div>

               <div class="derechos">
                    <p>Todos los derechos reservados &copy; 2023</p>
               </div>

               <div class="btnFooter">
                    <button><i class="bi bi-flag-fill"></i> Argentina <i
                              class="bi bi-arrow-right iconStyle"></i></button>
               </div>

          </div>

          <hr class="lineaFooter">

          <div class="linksFooter">
               <a href="#">Rastreador de pedidos</a>
               <a href="#">Mapa del sitio</a>
               <a href="#">Contáctenos</a>
               <a href="#">Avisos legales</a>
               <a href="#">Localizador de tiendas</a>
               <a href="#">Política de privacidad</a>
               <a href="#">Sostenibilidad</a>
               <a href="#">Carreras</a>
               <a href="#">Centro de ayuda</a>
               <a href="#">Síganos</a>
          </div>

          <hr class="lineaFooterFinal">

          <div class="derechosFinal">
               <p>Todos los derechos reservados &copy; 2023</p>
          </div>

     </div>
</footer>
<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script>
     AOS.init({
          duration: 1100
     });
</script>
</body>

</html>
<style>
     .linksFooter a::before {
     content: "";
     position: absolute;
     width: 100%;
     height: 1px;
     border-radius: 4px;
     background-color: #000;
     bottom: 0;
     left: 0;
     transform-origin: right;
     transform: scaleX(0);
     transition: transform 0.3s ease-in-out;
}

.linksFooter a:hover::before {
     transform-origin: left;
     transform: scaleX(1);
}

.containerFooter {
     display: flex;
     flex-direction: column;
}

.infoFooter {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 50px;
}

.logo {
     display: flex;
     align-items: center;
}

.logo img {
     height: 100px;
}

.logo p {
     font-weight: 600;
}

.derechos {
     display: none;
}

.btnFooter button {
     display: flex;
     align-items: center;
     gap: 1.5rem;
     font-size: 1.188em;
     padding: 10px 20px;
     border: none;
     background-color: transparent;
     cursor: pointer;
}

.linksFooter {
     display: grid;
     grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
     grid-template-rows: 1fr;
     align-content: space-between;
     grid-row-gap: 0.3rem;
     z-index: 1;
     padding: 30px 0;
}

.linksFooter a {
     position: relative;
     text-decoration: none;
     color: #000;
}

.derechosFinal {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 25px 0;
}

@media screen and (max-width:767px) {
     .infoFooter {
          width: 90%;
          margin: 0 auto;
     }

     .linksFooter {
          grid-template-columns: 50% 50%;
     }
}

@media screen and (min-width:768px) and (max-width:1023px) {
     .infoFooter {
          width: 90%;
          margin: 0 auto;
     }

     .linksFooter {
          grid-template-columns: 50% 50%;
     }
}

@media screen and (min-width:1024px) {

     .containerFooter {
          width: 85%;
          margin: 0 auto;
     }

     .derechos {
          display: block;
     }

     .derechosFinal {
          display: none;
     }

     .lineaFooterFinal {
          display: none;
     }

     .linksFooter {
          flex-direction: row;
          justify-content: space-between;
          gap: 0rem;
     }
}
</style>