<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>X</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
     <link rel="stylesheet" href="/header.css">
     <link rel="stylesheet" href="/heroIndex.css">
     <link rel="stylesheet" href="/footer.css">
</head>
<body>
     <header>
          <div class="headerDescuento">
              <a href="#" class="descuentoLink">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <h4>APP EXCLUSIVA! 33% OFF</h4>
                  <i class="bi bi-arrow-right"></i>
              </a>
          </div>
          <div class="headerDiv">
              <div class="containerLogo">
                  <img src="estilos/logoX.png" alt="logo">
                  <p>X</p>
              </div>
              <nav class="containerNav">
                  <a href="#">NUEVO</a>
                  <a href="#">HOMBRE</a>
                  <a href="#">MUJER</a>
                  <a href="#">NIÑOS</a>
                  <a href="#">OFERTA</a>
              </nav>
              <div class="headerIcons">
                  <a href="#" class="search">
                      <button><i class="bi bi-search lupa"></i></button>
                      <input type="text" placeholder="Buscar">
                  </a>
                  <a href="#" class="carrito">
                      <i class="bi bi-bag"></i>
                  </a>
                  <a href="#" class="menuIcon">
                      <i class="bi bi-list"></i>
                  </a>
              </div>
          </div>
      </header>