@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Syne', sans-serif;
}

header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
}

.headerDescuento:hover .descuentoLink,
.headerDescuento:hover {
    background-color: #fff;
    color: #000;
    transition-delay: 0.3s;
    transition-timing-function: ease-out;
}



.descuentoLink span:nth-child(1) {
    width: 100%;
    height: 2px;
    top: 0;
    left: -100%;
}

.descuentoLink span:nth-child(2) {
    width: 100%;
    height: 2px;
    bottom: 0;
    right: -100%;
}

.descuentoLink span:nth-child(3) {
    width: 2px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

.descuentoLink span:nth-child(4) {
    width: 2px;
    height: 100%;
    top: -100%;
    right: 0;
}

.descuentoLink:hover span:nth-child(1) {
    left: 0;
}

.descuentoLink:hover span:nth-child(2) {
    right: 0;
}

.descuentoLink:hover span:nth-child(3) {
    bottom: 0;
}

.descuentoLink:hover span:nth-child(4) {
    top: 0;
}

.containerNav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
}

.containerNav a:hover::before,
.containerNav a:focus::before {
    transform-origin: left;
    transform: scaleX(1);

}

.search:hover,
.carrito:hover,
.menuIcon:hover {
    border: 2px solid #4a4a4a7c;
}

.search:hover .lupa,
.search:hover input::placeholder,
.carrito:hover,
.menuIcon:hover {
    color: #4a4a4a7c;
}

.search::placeholder {
    color: #4A4A4A;
    font-family: 'Syne', sans-serif;
}

.search:focus-within,
.carrito:focus-within,
.menuIcon:focus-within {
    color: #080808;
    border-color: #080808;
    transition: all 0.3s ease-in-out;
}

.search:focus-within .lupa,
.search:focus-within input::placeholder,
.carrito:focus-within i,
.menuIcon:focus-within i {
    color: #080808;
    transition: all 0.3s ease-in-out;
}

.search:focus-within input::placeholder {
    transition: all 0.3s ease-in-out;
}

.headerDescuento,
.descuentoLink,
input::placeholder,
.search,
.lupa,
.carrito,
.menuIcon,
.containerNav a:hover::before {
    transition: all 0.6s ease-in;
}

.headerDescuento {
    max-width: 100vw;
    height: 2rem;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descuentoLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    color: #CFCFCF;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 0 .5rem;
}

.descuentoLink span {
    position: absolute;
    background-color: #000;
    transition: all 1s ease-out;
}

.descuentoLink i {
    font-size: 1.5rem;
}

.headerDiv {
    display: flex;
    justify-content: space-between;
    width: 85vw;
    margin: 0 auto;
}

.containerLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.containerLogo img {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.containerLogo p {
    font-size: 1.1rem;
}

.containerNav {
    text-align: center;
    display: flex;
    align-items: center;
}

.containerNav a {
    font-weight: 600;
    margin-left: 1rem;
    text-decoration: none;
    color: black;
    position: relative;
}

.headerIcons {
    width: 20vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    text-decoration: none;
    background-color: #FEFEFE;
    border: 2px solid #4A4A4A;
    border-radius: 5px;
    height: 1.9rem;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    position: relative;
}

.search button {
    border: none;
    cursor: pointer;
}

.search input,
.lupa {
    border: none;
    color: #000;
    font-weight: 700;
    outline: none;
}

.search input {
    text-align: center;
    width: 3.5rem;
    cursor: pointer;
}

.carrito,
.menuIcon {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4A4A4A;
    cursor: pointer;
    border: 2px solid #4A4A4A;
    border-radius: 5px;
    height: 1.9rem;
    width: 1.9rem;
    font-size: 1.1rem;
    font-weight: bold;
}

@media screen and (max-width:767px) {

    header {
        width: 95vw;
        margin: 0 auto;
    }

    .containerNav {
        display: none;
    }

    .carrito {
        display: none;
    }

    .headerIcons {
        justify-content: space-between;
        width: 40vw;
    }

    .search {
        width: 7rem;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .containerNav {
        display: none;
    }

    .headerIcons {
        width: 28vw;
    }
}


@media screen and (min-width:1024px) and (max-width:1440px) {
    .headerIcons {
        width: 15vw;
    }
}


@media screen and (min-width:1441px) and (max-width:1920px) {
    .headerIcons {
        width: 11vw;
    }

    .search input {
        width: 4.5rem;
    }

    .search input,
    .lupa {
        font-size: 1rem;
    }

    .carrito,
    .menuIcon {
        font-size: 1.2rem;
    }
}