
.btnHombre:hover,
.btnMujer:hover, 
.heroSiguiente:hover {
    background: transparent;
    opacity: 0.9;
    box-shadow: none;
    color: #000;
}


.btnHombre span:nth-child(1),
.btnMujer span:nth-child(1) {
    width: 100%;
    height: 2px;
    top: 0;
    left: -100%;
}

.btnHombre span:nth-child(2),
.btnMujer span:nth-child(2) {
    width: 100%;
    height: 2px;
    bottom: 0;
    right: -100%;
}

.btnHombre span:nth-child(3),
.btnMujer span:nth-child(3) {
    width: 2px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

.btnHombre span:nth-child(4),
.btnMujer span:nth-child(4) {
    width: 2px;
    height: 100%;
    top: -100%;
    right: 0;
}

.btnHombre:hover span:nth-child(1),
.btnMujer:hover span:nth-child(1) {
    left: 0;
}

.btnHombre:hover span:nth-child(2),
.btnMujer:hover span:nth-child(2) {
    right: 0;
}

.btnHombre:hover span:nth-child(3),
.btnMujer:hover span:nth-child(3) {
    bottom: 0;
}

.btnHombre:hover span:nth-child(4),
.btnMujer:hover span:nth-child(4) {
    top: 0;
}


.heroSiguiente::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    border-radius: 4px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
}

.heroSiguiente:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.textoHero {
    display: none;
}

.hero {
    display: flex;
    height: 88vh;
    background: linear-gradient(45deg, #579D5E, #62A869, #A9E5AA, #62A869, #579D5E, #4F965A);
    background-size: 400% 400%;
    animation: fondoHero 10s ease-in 0.6s infinite;
    overflow: hidden;
}

.divHero {
    width: 85vw;
    margin: 0 auto;
    display: flex;
}

.heroDivUno {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
    width: 85vw;
    margin: 0 auto;
}

.heroDivUno h2 span {
    color: white;
    font-size: 1.2rem;
}

.heroDivDos {
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroTexto {
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroTexto h4 {
    color: white;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    margin-top: 0.7rem;
}

.heroTexto h1 {
    letter-spacing: 0.05rem;
    font-size: 1.8rem;
    margin-left: 0.3rem;
}

.heroTexto p {
    letter-spacing: 0.02rem;
    font-weight: 700;
    font-size: 0.8rem;
    margin-left: 0.3rem;
}

.heroBotones {
    display: flex;
    gap: 1.2rem;
    margin-left: 0.3rem;
}

.btnHombre,
.btnMujer {
    background-color: #000;
    color: #bebebe;
    border: none;
    outline: none;
    height: 2.5rem;
    width: 10rem;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.4s ease-in;
    overflow: hidden;
}

.btnHombre span,
.btnMujer span {
    position: absolute;
    background-color: #000;
    transition: all 0.6s ease-in;
}

.heroSiguiente {
    width: 8.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.4s ease-in;
    overflow: hidden;
}

.flechaSiguiente {
    font-size: 1.7rem;
}

.imgHero {
    height: 99%;
    margin-right: 10rem;
    margin-top: -1rem;
}

.mujerHeroMobile {
    display: none;
}

/* filter: drop-shadow para dar sombra a img */

@keyframes fondoHero {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }

}


@media screen and (max-width:767px) {
    main {
        width: 95vw;
        margin: 0 auto;
    }

    .padreHero {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .textoHero {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .textoHero h1 {
        font-size: 1.2rem;
    }

    .textoHero i {
        font-size: 1.8rem;
    }

    .divHeros {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .hero {
        height: 45vh;
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .divHero {
        text-align: center;
    }

    .ocultar {
        display: none;
    }

    .btnHombre {
        z-index: 10;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }

    .imgHero {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btnMujerMobile {
        z-index: 10;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    main {
        width: 95vw;
        margin: 0 auto;
    }

    .padreHero {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .textoHero {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .textoHero h1 {
        font-size: 1.8rem;
    }

    .textoHero i {
        font-size: 1.8rem;
    }

    .divHeros {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .hero {
        height: 45vh;
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .divHero {
        text-align: center;
    }

    .ocultar {
        display: none;
    }

    .btnHombre {
        z-index: 10;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }

    .imgHero {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btnMujerMobile {
        z-index: 10;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
}

@media screen and (min-width:1024px) and (max-width:1440px) {}

@media screen and (min-width:1441px) and (max-width:1920px) {}