<main>
<h1>Datos del Usuario obtenidos de google:</h1>
<p><strong>Nombre:</strong> <%= user.displayName %></p>
<p><strong>Correo:</strong> <%= user.mail %></p>
<p><strong>GoogleId:</strong> <%= user.GoogleId %></p>
</main>
