<main>
<h1>Datos del Usuario obtenidos de google:</h1>
<p><strong>Nombre:</strong> <%= user.username %></p>
<p><strong>Correo:</strong> <%= user.email %></p>
<p><strong>GoogleId:</strong> <%= user.googleId %></p>
</main>
