<%- include('../partials/header') -%>

<main>
     <section class="heroSection">
         <div class="tituloShoes">
             <nav class="guiaTitulo">
                 <a href="#">HOME<i class="bi bi-arrow-right"></i></a>
                 <a href="#">CATÁLOGO<i class="bi bi-arrow-right"></i></a>
                 <a href="#">ZAPATILLAS<i class="bi bi-arrow-right"></i></a>
                 <a href="#">ZAPATILLAS HYDRO</a>
             </nav>
             <h3>ZAPATILLAS</h3>
         </div>
         <div class="catalogoShoes">
             <div class="catalogoUno ocultarPhone ocultarTablet">
                 <img src="" alt="">
                 <img src="" alt="">
                 <img src="" alt="">
                 <img src="" alt="">
                 <img src="" alt="">
             </div>
             <img src="" alt="Hydro_Zapatillas" class="catalogoDos">
             <div class="catalogoTres">
                 <div class="tresZonaUno">
                     <div class="rate ocultarPhone">
                         <div class="descripcionRate">
                             <p>Hombres</p>
                             <p>-</p>
                             <p>Originales</p>
                         </div>
                         <div class="votacionRate">
                             <div class="estrellas">
                                 <i class="bi bi-star-fill"></i>
                                 <i class="bi bi-star-fill"></i>
                                 <i class="bi bi-star-fill"></i>
                                 <i class="bi bi-star-fill"></i>
                                 <i class="bi bi-star-fill"></i>
                             </div>
                             <p>2043</p>
                         </div>
                     </div>
                     <h2>HYDRO ZAPATILLAS</h2>
                     <div class="precio">
                         <h3>$120</h3>
                         <h3>$96</h3>
                     </div>
                 </div>
                 <div class="catalogoColors">
                     <h4>COLORES</h4>
                     <div class="coloresShoes">
                         <a href="#" class="colorShoe">
                             <img src="" alt="">
                         </a>
                         <a href="#" class="colorShoe">
                             <img src="" alt="">
                         </a>
                         <a href="#" class="colorShoe">
                             <img src="" alt="">
                         </a>
                         <a href="#" class="colorShoe">
                             <img src="" alt="">
                         </a>
                         <a href="#" class="colorShoe">
                             <img src="" alt="">
                         </a>
                     </div>
                 </div>
                 <div class="catalogoSizes">
                     <h4>TALLES</h4>
                     <div class="sizesDiv">
                         <a href="#">
                             <h5>4</h5>
                         </a>
                         <a href="#">
                             <h5>4.5</h5>
                         </a>
                         <a href="#">
                             <h5>5</h5>
                         </a>
                         <a href="#">
                             <h5>5.5</h5>
                         </a>
                         <a href="#">
                             <h5>6</h5>
                         </a>
                         <a href="#">
                             <h5>6.5<i class="bi bi-stopwatch"></i></h5>
                         </a>
                         <a href="#">
                             <h5>7</h5>
                         </a>
                         <a href="#">
                             <h5>7.5</h5>
                         </a>
                         <a href="#">
                             <h5>8</h5>
                         </a>
                         <a href="#">
                             <h5>8.5</h5>
                         </a>
                         <a href="#">
                             <h5>9</h5>
                         </a>
                         <a href="#">
                             <h5>9.5</h5>
                         </a>
                         <a href="#">
                             <h5>10</h5>
                         </a>
                         <a href="#">
                             <h5>10.5</h5>
                         </a>
                         <a href="#">
                             <h5>11</h5>
                         </a>
                         <a href="#">
                             <h5>12</h5>
                         </a>
                         <a href="#">
                             <h5>12.5</h5>
                         </a>
                         <a href="#">
                             <h5>13</h5>
                         </a>
                         <a href="#">
                             <h5>13.5</h5>
                         </a>
                         <a href="#">
                             <h5>14<i class="bi bi-stopwatch"></i></h5>
                         </a>
                     </div>
                 </div>
                 <div class="catalogoInfo">
                     <a href="#">
                         <h4>RESEÑAS</h4>
                         <i class="bi bi-arrow-right"></i>
                     </a>
                     <a href="#">
                         <h4>DESCRIPCIÓN</h4>
                         <i class="bi bi-arrow-right"></i>
                     </a>
                     <a href="#">
                         <h4>DETALLES</h4>
                         <i class="bi bi-arrow-right"></i>
                     </a>
                     <a href="#">
                         <h4>DESTACADOS</h4>
                         <i class="bi bi-arrow-right"></i>
                     </a>
                 </div>
                 <div class="catalogoAgregar">
                     <button>
                         <h3>CARRITO</h3>
                     </button><button>
                         <h3>SEGUIR</h3>
                     </button>
                 </div>
             </div>
         </div>
     </section>
     <section class="hydroSeason">
         <H2>ZAPATILLAS PREMIUM HYDRO PARA LA TEMPORADA MÁS FRESCA</H2>
         <i class="bi bi-arrow-down-short"></i>
         <div class="hydroSeasonImgs">
             <div class="hydroSUno">
                 <img src="estilos/seasonAModel.png" alt="">
                 <div class="hydroSDes">
                     <h3>ENVÍOS</h3>
                     <p>Los pedidos son enviados en días laborales (Lunes a Viernes). excepto por feriados</p>
                 </div>
                 <a href="#">MÁS</a>
             </div>
             <div class="hydroSDos">
                 <img src="estilos/seasonAModel.png" alt="">
                 <div class="hydroSDes">
                     <h3>FAQ</h3>
                     <p>Encontrarás respuestas a todas tus dudas acerca del producto o página web en FAQ.</p>
                 </div>
                 <a href="#">MÁS</a>
             </div>
         </div>
     </section>
     <section class="completeLookSection">
         <H2>LOOK COMPLETO</H2>
         <i class="bi bi-arrow-down-short"></i>
         <div class="completeLookCards">
             <div class="completeLookCardUno">
                 <img src="estilos/modeloCompleteLookAparte1.png" alt="hodie">
                 <div class="cLCardInfo">
                     <h4>SUDADERA CON CAPUCHA TREF</h4>
                     <p>$60</p>
                 </div>
             </div>
             <div class="completeLookCardDos">
                 <img src="estilos/modeloCompleteLookB.png" alt="remera">
                 <div class="cLCardInfo">
                     <h4>CAMISETA XCOLOR CONT</h4>
                     <p>$40</p>
                 </div>
             </div>
             <div class="completeLookCardTres">
                 <img src="estilos/modeloCompleteLookAparte2.png" alt="pantalon-basico">
                 <div class="cLCardInfo">
                     <h4>PANTALONES ESENCIALES TREF</h4>
                     <p>$60</p>
                 </div>
             </div>
             <div class="completeLookCardCuatro">
                 <img src="estilos/modeloCompleteLookCShorts.png" alt="shorts">
                 <div class="cLCardInfo">
                     <h4>SHORTS TERRY FRANCÉS</h4>
                     <p>$40</p>
                 </div>
             </div>
         </div>
     </section>
     <section class="alsoLikeSection">
         <H2>CAPAZ TE GUSTE</H2>
         <i class="bi bi-arrow-down-short"></i>
         <div class="alsoLikeCards">
             <divc class="alsoLikeCard">
                 <img src="" alt="hodie">
                 <div class="alsoLikeInfo">
                     <h4>ZAPATILLAS STAN SMT</h4>
                     <p>$105</p>
                 </div>
             </divc>
             <div class="alsoLikeCard">
                 <img src="" alt="remera">
                 <div class="alsoLikeInfo">
                     <h4>ZAPATILLAS BAJAS FRM</h4>
                     <p>$110</p>
                 </div>
             </div>
             <div class="alsoLikeCard">
                 <img src="" alt="pantalon-basico">
                 <div class="alsoLikeInfo">
                     <h4>ZAPATILLAS DIARIAS 3.0</h4>
                     <p>$65</p>
                 </div>
             </div>
             <div class="alsoLikeCard">
                 <img src="" alt="shorts">
                 <div class="alsoLikeInfo">
                     <h4>ZAPATILLAS OZZ</h4>
                     <p>$100</p>
                 </div>
             </div>
         </div>
     </section>
 </main>

 <%- include('../partials/footer') -%>