 <main>
    <div id="contador"><h1>Redireccionando..</h1></div>
    <div id="modal" class="modal">
    <div class="modal-content">
        <img src="https://raw.githubusercontent.com/mateoargf/imagenesXEcomerceTPFINAL/main/successful.png" alt="logo" width="400px">
            <h2>
                Bienvenido, <%=username%>
            </h2>
             <h2>Proceso completado con exito!</h2>
             <% if (errorMessage) { %>
                <h4 class="mensaje"><%= errorMessage %></h4>
            <% } %> 
    
    
    
    
    </div>
    </div>
    </main> 
<script>
function actualizarContador(num) {
    document.getElementById('contador').innerText = num;
}

function redireccionar() {
    window.location.href = '/';
}

function iniciarCuentaRegresiva() {
for (let i = 5; i >= 0; i--) {
    setTimeout(() => {
        actualizarContador(i); // Actualiza el contador
        if (i === 0) {
            redireccionar(); // Redirecciona cuando el contador llega a 0
        }
    }, (5 - i) * 1000); }// El tiempo que espera para ejecutar la función
}

    window.onload = iniciarCuentaRegresiva();</script>
    <style>
    
    header, footer{
     display: none;
    }
    body{
        background-color: #7d7b7b;
    }
    .modal {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

/* Estilos adicionales según tus necesidades */
.modal h2 {
    color: #333;
}

.modal p {
    color: #555;
}

.modal h4 {
    color: red;
}
#contador {
        font-size: 1.5em; /* Tamaño de la fuente grande */
        font-weight: bold; /* Texto en negrita para mayor énfasis */
        color: #fff; /* Color del texto */
        text-align: center; /* Centrar el texto */
        margin-top: 0px; /* Espacio superior */
        background-color: #007bff; /* Color de fondo */
        padding: 10px; /* Añadir espaciado alrededor del contador */
        border-radius: 5px; /* Esquinas redondeadas */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sutil sombra */
    }

</style>
