 
<main>
<div id="modal" class="modal">
<div class="modal-content">
     <h2>¡Registro Exitoso!</h2>
     <p>Tu cuenta se ha registrado correctamente.</p>
     
</div>
</div>
</main>
<script>

// setTimeout(() => {
//         window.location.href = '/user/auth/google/callback'; // Ruta para obtener datos de usuario en tu servidor
//     }, 3000);
</script>
<style>
    
    header, footer{
     display: none;
    }

.modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos adicionales según tus necesidades */
.modal h2 {
    color: #333;
}

.modal p {
    color: #555;
}
</style>
