<form action="/registro" method="post">
<label for=""></label>
<input type="text">
<label for=""></label>
<input type="text">
<label for=""></label>
<input type="text">
<button>Registrate</button>
</form>