


<main>
     
     <form action="/user/registro" method="post" class="formularioRegistro">
          <h2>Completa el formulario</h2>
          
          <p>USUARIO</p>
          <input type="text" placeholder="Mesias" name="username" class="inputRegistro" id="usernameInput" oninput="validarTexto()">
          <p id="mensajeError" class="error-message"></p>

          <p>CONTRASEÑA</p>
          <input type="password" placeholder="Contraseña123*" name="password" class="inputRegistro" id="passwordInput" oninput="validarPassword()">
          <p id="mensajeErrorPassword" class="error-message"></p>

          <p>EMAIL</p>
          <input type="email" placeholder="santi123@hotmail.com" name="email" class="inputRegistro" id="emailInput" oninput="validarEmail()">
          <p id="mensajeErrorEmail" class="error-message"></p>
          <% if(errorMessage) { %>
               <p class="error-message"><%= errorMessage %></p>
          <% } %>
          <input type="submit" value="ENVIAR" class="botonRegistrate">
     </form>
</main>
<style>

     main {
          height: 65vh;
          width: 86vw;
          margin: 0 auto;
     }

     .inputRegistro:focus,
     .inputRegistro:valid {
          background-color: #fff;
          outline-color: #222;
     }

     .inputRegistro:hover {
          border: 2px solid #616161;
     }

     .botonRegistrate:hover {
          background-color: #0056b3;
          border: 2px solid #0056b3;
     }

     .inputRegistro,
     .botonRegistrate {
          transition: all 0.4s ease-in-out;
     }

     .formularioRegistro {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          justify-content: center;
          height: 100%;
     }

     .formularioRegistro h2 {
          text-align: center;
     }

     .formularioRegistro p {
          width: 45%;
          margin: 0 auto;
          padding-left: 0.3rem;
     }

     .inputRegistro {
          width: 45%;
          height: 2.5rem;
          padding-left: 0.5rem;
          border-color: transparent;
          border-radius: 5px;
          margin: 0 auto;
          cursor: pointer;
          color: #333333;
          font-family: 'Syne', sans-serif;
          font-weight: 600;
          border: 2px solid #bebebe;
     }

     .botonRegistrate {
          background-color: #007BFF;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          width: 15%;
          margin: 0 auto;
          height: 2.5rem;
          font-size: 1rem;
          text-align: center;
     }

     .error-message {
          color: red;
     }

     @media screen and (max-width:767px) {
          main {
               height: 40vh;
          }

          .formularioRegistro p,
          .inputRegistro{
               width: 90%;
          }

          .botonRegistrate {
               width: 35%;
          }
     }

     @media screen and (min-width:768px) and (max-width:1023px) {
          main {
               height: 50vh;
          }

          .formularioRegistro p,
          .inputRegistro {
               width: 70%;
          }

          .botonRegistrate {
               width: 20%;
          }
     }

     @media screen and (min-width:1024px) and (max-width:1440px) {}

     @media screen and (min-width:1441px) and (max-width:1920px) {}
</style>

<script src="/utilsFront/validaciones.js"></script>

